<% if (data.Chats[0].idChat) { %>
     <script>
        var idChat = '<%= data.Chats[0].idChat %>'   
		 var idConseiller = '<%= data.idConseiller %>'
		 var emailConseiller = '<%= data.email %>'           
     </script>
<% } %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= data.Chat %></title>
  <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .container{
    max-width:900px;
}
.inbox_people {
	background: #fff;
	float: left;
	overflow: hidden;
	width: 30%;
	border-right: 1px solid #ddd;
}

.inbox_msg {
	border: 1px solid #ddd;
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;

}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
	color: #0465ac;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
}

.srch_bar input {
	outline: none;
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_img img {
	width: 100%
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #e8f6ff;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.incoming_msg_img img {
	width: 100%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 0 15px 15px 15px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.received_withd_msg {
	width: 57%;
}

.mesgs{
	float: left;
	padding: 30px 15px 0 25px;
	width:70%;
}

.sent_msg p {
	background:#0465ac;
	border-radius: 12px 15px 15px 0;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}
.msg_history {
	height: 516px;
	overflow-y: auto;
}
</style>
<body>
<div class="messaging">
  <div class="inbox_msg">
	<div class="inbox_people">
	  <div class="headind_srch">
		<div class="recent_heading">
		  <h4><a href="/utilisateur/chats">Retour a la liste principale achat</a></h4>
		</div>
	  </div>
	   <% for(var i=0; i < data.Chats.length; i++) { %>
<div class="inbox_chat scroll">
		<div class="chat_list active_chat">
		  <div class="chat_people">
			<div class="chat_ib">
			  <h5><%= data.Chats[i].idChat %> </h5>
			</div>
		  </div>
		</div>
	  </div>
<% } %>
	</div>
	<div class="mesgs" id="msg2">
	  <div class="msg_history" id="msg">
		  <% for(var i=0; i < data.Chats[0].MessageChats.length; i++) { %>
			<% if(data.Chats[0].MessageChats[i].ConseillerIdConseiller != null ) { %>
				<div class="outgoing_msg">
		  <div class="sent_msg">
						  <p><%= data.Chats[0].MessageChats[i].value %></p>
			<span class="time_date"> by you   | <%= moment(data.Chats[0].MessageChats[i].createdAt).format("dddd, MMMM  YYYY, h:mm:ss a") %> <%= data.Chats[0].MessageChats[i].createdAt %></span></div>
		</div>
			<% } else { %>	
				<div class="incoming_msg">
		  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
		  <div class="received_msg">
			<div class="received_withd_msg">
			  <p><%= data.Chats[0].MessageChats[i].value %></p>
			  			<span class="time_date"> <%= data.Chats[0].MessageChats[i].Utilisateur.email %>  | <%= moment(data.Chats[0].MessageChats[i].createdAt).format("dddd, MMMM  YYYY, h:mm:ss a") %> <%= data.Chats[0].MessageChats[i].createdAt %></span></div>

		  </div>
		</div>
			<% } %>	
			<% } %>
	  </div>
	  <div class="type_msg">
		<div class="input_msg_write">
		  <input type="text" id="messageBox" class="write_msg" placeholder="Type a message" />
		  <button id="sendBtn" class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
		</div>
	  </div>
	</div>
  </div>
</div>
</body>
</html>
<script>
	  const onMessage = (event) => {
        const data = JSON.parse(event.data);
        console.log(data);
      };

  eventSource = new EventSource("http://localhost:8081/events");
        eventSource.onopen = () => {
          console.log("opened");
        };
        eventSource.onmessage = onMessage;
      ;
	function createElementFromHTML(htmlString) {
  var div = document.createElement('div');
  div.innerHTML = htmlString.trim();

  // Change this to div.childNodes to support multiple top-level nodes.
  return div.firstChild;
}
  (function() {
    const sendBtn = document.getElementById('sendBtn')
	const messageBox = document.getElementById('messageBox')
      function showMessage(message) {
				$('#msg').scrollTop($('#msg')[0].scrollHeight );
      message  = JSON.parse(message)
	  console.log(message)
	  if(idChat == message.chat) {
          if(message.conseiller == idConseiller) {
			var child =   createElementFromHTML('<div class="outgoing_msg">'+
		  '<div class="sent_msg">'+
						  '<p>'+ message.message+'</p>'+
			'<span class="time_date"> by you   | </span></div>'+
		'</div>'
		)
		document.getElementById('msg').appendChild(child)
		  }else {
		var child =   createElementFromHTML('<div class="incoming_msg">'+
		  '<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>'+
		  '<div class="received_msg">'+
			'<div class="received_withd_msg">'+
			  '<p>'+message.message+'</p>'+
			  '<span class="time_date">'+moment().format("dddd, MMMM  YYYY, h:mm:ss a")+'|' + message.emailConseiller+ '</span></div>'+
		  '</div>'+
		'</div>'
		)
		document.getElementById('msg').appendChild(child)
		  }
	  }
    }
    let ws;
    function init() {
      if (ws) {
        ws.onerror = ws.onopen = ws.onclose = null;
        ws.close();
      }
      ws = new WebSocket('ws://localhost:8081');
      ws.onopen = () => {
        console.log('Connection opened!');
      }
      ws.onmessage = ({ data }) => showMessage(data);
      ws.onclose = function() {
        ws = null;
      }
    }
    sendBtn.onclick = function() {
		$('#msg').scrollTop($('#msg')[0].scrollHeight);
      if (!ws) {
        showMessage("No WebSocket connection :(");
        return ;
      }
	   var posting = $.post('/conseiller/chats2/sendMessage', {  
		 ChatIdChat: idChat , 
    ConseillerIdConseiller : idConseiller,
    value :messageBox.value,  } );
  // Put the results in a div
  posting.done(function( data ) {
  ws.send(JSON.stringify({
	type :'chat', 
	message : messageBox.value,
	chat : idChat,
	conseiller : idConseiller, 
	emailConseiller: emailConseiller, 
	}));
		var child =   createElementFromHTML('<div class="outgoing_msg">'+
		  '<div class="sent_msg">'+
						  '<p>'+ messageBox.value+'</p>'+
			'<span class="time_date"> by you   | '+  moment(data.createdAt).format("dddd, MMMM  YYYY, h:mm:ss a")+  '</span></div>'+
		'</div>'
		)
		messageBox.value = ""
		document.getElementById('msg').appendChild(child)
  }); 
      // showMessage(messageBox.value);
    }
    init();
  })();
</script>
